@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
.orange-text{
    color: orange;
}
.btn{
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* header style */
header{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.11);
    padding: 0 50px 0 100px;
}
.header-text,.header-image{
    width: 50%;
}
.header-text p{
    padding: 20px 0;
}
.header-image img{
    width: 80%;
}

/* main section style */
main{
    margin: 100px;
}
section h2{
    text-align: center;
}
#service-area{
    display: flex;
    padding: 20px;
}
#service-area .services{
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: rgba(255, 166, 0, 0.11);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.services img{
    width: 20%;
}